.body {
  margin-top: 0px;
}

.div-block {
  border: 1px solid #000;
}

.list-4 {
  margin: 16px 40px 0px;
  border: 1px none #5f6266;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px #2c2f30;
}

.shu-list {
  padding-left: 0px;
}

.bold-text {
  color: #c5090c;
}

.columns-4 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.section {
  position: relative;
  z-index: 10;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1d1f21;
}

.section.hero {
  position: static;
  overflow: auto;
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  background-color: #fcfcfc;
  color: #fcfcfc;
  text-align: center;
}

.columns-10 {
  margin-top: 20px;
}

.columns-9 {
  margin-bottom: -16px;
}

.html-embed {
  margin-top: 20px;
  border: 1px dotted #000;
  background-color: transparent;
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.list-item-18 {
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.52);
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border-right: 1px none #d7d9de;
  background-color: #fff;
  opacity: 1;
}

.text-block-6 {
  font-size: 18px;
}

.list-5 {
  margin-right: 40px;
}

.list-5.shu-list {
  padding-left: 40px;
}

.text-block-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.text-block-16 {
  margin-top: 0px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.heading-7 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.text-block-21 {
  border-right: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.image-10 {
  margin-top: -16px;
}

.div-block-13 {
  margin-right: 40px;
  margin-left: 40px;
}

.div-block-14 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #d7d9de;
}

.div-block-14.tab-body {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  border: 1px none #000;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 3px 1px #d7d9de;
  color: #fcfcfc;
}

.image-3 {
  margin-top: 13px;
  margin-left: -83px;
}

.list-item-20 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.column-9 {
  border-right: 1px dotted #000;
}

.columns-5 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: transparent;
}

.heading-6 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #000;
  font-weight: 700;
  text-align: left;
}

.text-block-3 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.list-9 {
  margin-top: 20px;
}

.heading-12 {
  margin-left: 0px;
  padding-left: 0px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.35);
  background-color: rgba(29, 31, 33, 0.22);
  font-family: 'Crimson Text', sans-serif;
  color: #050505;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.heading-11 {
  margin-top: 24px;
  font-family: 'Crimson Text', sans-serif;
  color: #000;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.columns-8 {
  margin-left: 0px;
  padding-left: 40px;
  border-top: 1px dotted #000;
}

.heading-10 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #000;
  font-weight: 700;
  text-align: left;
}

.list-item-21 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.column-7 {
  margin-top: 40px;
}

.shu-test {
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.list-7 {
  padding-left: 0px;
}

.list-item-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

.text-block-18 {
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.image-9 {
  margin-top: 2px;
  margin-left: -29px;
  background-color: #fcfcfc;
}

.div-block-20 {
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.list-item-16 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
}

.image-8 {
  margin-top: 32px;
  margin-left: -35px;
}

.tabs-content {
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.55);
  border-radius: 0px;
  background-color: #fcfcfc;
  color: transparent;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.text-block-22 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.div-block-16 {
  margin-top: 60px;
  margin-left: 220px;
}

.div-block-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 16px;
  font-weight: 600;
}

.div-block-19.shu-test {
  color: #c5090c;
  font-size: 18px;
}

.tab-list {
  height: 40px;
  margin-right: 10px;
  padding-top: 10px;
  border-style: solid solid solid none;
  border-width: 2px;
  border-color: #000 #000 #1d1f21 #5f6266;
  border-radius: 10px 10px 0px 0px;
  background-color: #b10508;
  box-shadow: 1px 1px 3px 0 #a5a7ad;
  font-family: 'Crimson Text', sans-serif;
  color: #d7d9de;
  font-weight: 600;
}

.tab-list.w--current {
  border-style: none;
  border-top-width: 2px;
  border-top-color: #1d1f21;
  border-right-color: #1d1f21;
  background-color: #fcfcfc;
  box-shadow: inset -2px 2px 3px 0 #7c0c0e;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.tab-pane-tab-6 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.text-block-20 {
  border-right: 1px none #000;
  background-color: #fcfcfc;
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.div-block-18 {
  border-bottom: 1px none #000;
}

.list-item-10 {
  margin-top: 10px;
  border-bottom: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.list-item-11 {
  margin-top: 4px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.div-block-17 {
  margin-top: 86px;
}

.div-block-4 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 0px 12px 0px 0px;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 6px 7px #2c2f30;
}

.div-block-4.tab-body {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  box-shadow: none;
}

.button-5 {
  margin-top: 60px;
  margin-left: 140px;
  background-color: #1d1f21;
  box-shadow: 1px 1px 3px 2px #d7d9de;
}

.html-embed-2 {
  margin-top: 20px;
  border: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.tab-pane-tab-7 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.column-11 {
  border-style: none dotted none none;
  border-width: 1px;
  border-color: #000;
}

.list-item-9 {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  background-color: #d7d9de;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.list-item-12 {
  margin-top: 4px;
  border-bottom: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.tabs {
  margin-right: -38px;
  margin-left: -38px;
  color: transparent;
}

.button-4 {
  margin-top: 40px;
  margin-right: -200px;
  background-color: #1d1f21;
  box-shadow: 1px 1px 3px 1px #5f6266;
}

.tab-pane-tab-10 {
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.52);
}

.tab-pane-tab-3 {
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 991px) {
  .section.hero {
    padding-top: 78px;
    padding-bottom: 104px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 40px 20px;
  }
  .section.hero {
    padding-top: 74px;
    padding-bottom: 74px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section.hero {
    padding: 54px 20px;
  }
}

