.tc-tabs-style1 .nav-tabs li a.active, 
.progress-bar, 
[class*="tc-tabs-"] .member-icons a, 
[class*="tc-tabs-"] .gallery-caption, 
.tc-tabs-style2 .nav-tabs li a.active, 
.tc-tabs-style2 .nav-tabs li a.active:after, 
.tc-tabs-style4 .nav-tabs li a.active, 
.tc-tabs-style5 .nav-tabs li a.active, 
.tc-tabs-style5 .tab-content,  
.tc-tabs-style7 .nav-tabs li a.active i, 
.tc-tabs-style10 .nav-tabs li a.active, 
.tc-tabs-style11 .nav-tabs li a.active, 
.tc-tabs-style12 .nav-tabs li a:after, 
.tc-tabs-style13 .nav-tabs li a:hover, 
.tc-tabs-style13 .nav-tabs li a.active, 
.tc-tabs-style14 .nav-tabs li a:after, 
.tc-tabs-style15, 
.tc-tabs-style16 .nav-tabs li a:before, 
.tc-tabs-style16 .nav-tabs li a:after, 
.tc-tabs-style17 .nav-tabs li a:hover, 
.tc-tabs-style17 .nav-tabs li a.active, 
.tc-tabs-style18 .nav-tabs li a:after {
	background-color: #673AB7;
}

.tc-tabs-style5 .tab-content .tc-button, 
.tc-tabs-style7 .nav-tabs li a.active, 
.tc-tabs-style8 .nav-tabs li a.active i, 
.tc-tabs-style9 .nav-tabs li a.active, 
.tc-tabs-style12 .nav-tabs li a:hover, 
.tc-tabs-style14 .nav-tabs li a:hover, 
.tc-tabs-style14 .nav-tabs li a.active, 
.tc-tabs-style16 .nav-tabs li a:hover, 
.tc-tabs-style16 .nav-tabs li a.active, 
.tc-tabs-style18 .nav-tabs li a:hover {
	color: #673AB7;
}

.tc-tabs-style7 .nav-tabs li a.active {
	border-color: #673AB7;
}

.tc-tabs-style4 .nav-tabs li a.active:before, 
.tc-tabs-style5 .nav-tabs li a.active, 
.tc-tabs-style8 .nav-tabs li a.active:before, 
.tc-tabs-style9 .nav-tabs li a.active:before, 
.tc-tabs-style9 .tab-content:before, 
.tc-tabs-style10 .nav-tabs li a.active:before, 
.tc-tabs-style10 .tab-content:before, 
.tc-tabs-style17 .nav-tabs li a.active:after, 
.tc-tabs-style17 .nav-tabs li a:hover:after {
	border-top-color: #673AB7;
}

.tc-tabs-style8 .nav-tabs li a.active, 
.tc-tabs-style9 .nav-tabs li a.active:after, 
.tc-tabs-style9 .tab-content:after, 
.tc-tabs-style10 .nav-tabs li a.active:after, 
.tc-tabs-style10 .tab-content:after {
	border-bottom-color: #673AB7;
}

.tc-tabs-style9 .nav-tabs li a.active:after, 
.tc-tabs-style9 .tab-content:after, 
.tc-tabs-style10 .nav-tabs li a.active:after, 
.tc-tabs-style10 .tab-content:after {
	border-right-color: #673AB7;
}
.tc-tabs-style9 .nav-tabs li a.active:before, 
.tc-tabs-style9 .tab-content:before, 
.tc-tabs-style10 .nav-tabs li a.active:before, 
.tc-tabs-style10 .tab-content:before {
	border-left-color: #673AB7;
}

.tc-tabs-style3 .nav-tabs li a.active {
    background-color: #673AB7;
    -webkit-box-shadow: 0 0 0 4px #673AB7;
    box-shadow: 0 0 0 4px #673AB7;
}
.tc-tabs-style6 .nav-tabs li a.active {
    background-color: #673AB7;
    -webkit-box-shadow: 0 0 0 2px #673AB7;
    box-shadow: 0 0 0 2px #673AB7;
}

@media (min-width: 768px) {
	.tc-tabs-style4.tc-tabs-v-left .nav-tabs li a.active:before, 
	.tc-tabs-style17.tc-tabs-v-left .nav-tabs li a.active:after, 
	.tc-tabs-style17.tc-tabs-v-left .nav-tabs li a:hover:after {
		border-left-color: #673AB7;
	}

	.tc-tabs-style4.tc-tabs-v-right .nav-tabs li a.active:before, 
	.tc-tabs-style17.tc-tabs-v-right .nav-tabs li a.active:after, 
	.tc-tabs-style17.tc-tabs-v-right .nav-tabs li a:hover:after {
		border-right-color: #673AB7;
	}
}

@media (max-width: 767px) {
	.tc-tabs-style4[class*="tc-tabs-v-"] .nav-tabs li a.active:before {
		border-top-color: #673AB7;
	}
}