body {
  padding-top: 59px;
  background-color: #000;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f2f4f7;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin: 0px 0px 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  color: #a5a7ad;
  font-size: 14px;
  line-height: 22px;
}

.button {
  display: inline-block;
  padding: 13px 24px;
  border-radius: 2px;
  background-color: #0ac278;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11), inset 0 -34px 50px -25px rgba(0, 0, 0, 0.16), inset 0 1px 0 0 hsla(0, 0%, 100%, 0.3);
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11), inset 0 -34px 50px -25px transparent, inset 0 1px 0 0 hsla(0, 0%, 100%, 0.3);
}

.button:active {
  background-color: #00c274;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.26), inset 0 2px 5px 0 transparent, inset 0 2px 2px 1px rgba(0, 0, 0, 0.16);
}

.button.form {
  width: 27%;
  margin-right: 0px;
  padding: 9px 10px;
  float: right;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #6e7278;
  color: hsla(0, 0%, 100%, 0.68);
}

.button.form:hover {
  background-color: #80858c;
  color: hsla(0, 0%, 100%, 0.94);
}

.button.form:active {
  background-color: #168c5d;
}

.button.on-white {
  box-shadow: 0 0 0 1px transparent, inset 0 -34px 50px -25px rgba(0, 0, 0, 0.16), inset 0 1px 0 0 transparent;
}

.button.contact {
  margin-bottom: 17px;
  padding: 18px 53px;
  background-color: #0f8ad1;
  font-size: 18px;
}

.button.sign-up {
  padding: 18px 53px;
  font-size: 19px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #2c2f30;
}

.nav-link {
  display: block;
  padding: 20px;
  float: left;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #000;
  color: #fff;
}

.nav-link.w--current {
  background-color: #3f4345;
  color: #fff;
}

.nav-link.right {
  margin-top: 14px;
  margin-bottom: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  border: 1px solid #5f6266;
  border-radius: 2px;
}

.logo-text {
  display: inline-block;
  margin-top: 18px;
  padding-bottom: 3px;
  border-bottom: 3px solid #5f6266;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
}

.logo-text:hover {
  border-bottom-color: #4c709e;
}

.logo-text.footer {
  color: #5f6266;
}

.nav-menu {
  width: 88%;
  float: left;
}

.brand-wrapper {
  width: 12%;
}

.section {
  position: relative;
  z-index: 10;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1d1f21;
}

.section.hero {
  padding-top: 5px;
  padding-bottom: 135px;
  background-color: transparent;
  color: #fcfcfc;
  text-align: center;
}

.section.darkgrey {
  background-color: #2b2d30;
}

.section.darkestgrey {
  background-color: #1d1f21;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #000;
}

.section.black {
  background-color: #000;
}

.section.sign-up {
  background-color: #000;
  background-image: linear-gradient(312deg, rgba(136, 92, 156, 0.63) 6%, rgba(143, 90, 166, 0.8));
  color: #ebedf2;
}

.section.white {
  background-color: #fff;
  color: #1d1f21;
}

.section.content-pages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.about-image {
  height: 330px;
  background-image: url('../images/team.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.huge-heading {
  display: block;
  margin-top: 0px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 94px;
  line-height: 88px;
  font-weight: 800;
  letter-spacing: 0px;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

.subtitle {
  margin-bottom: 40px;
  font-family: 'Roboto Slab', sans-serif;
  color: rgba(242, 246, 252, 0.63);
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.subtitle.pricing {
  margin-bottom: 0px;
  font-size: 18px;
}

.subtitle.content-pages {
  margin-bottom: 0px;
}

.outline-button {
  display: inline-block;
  margin-left: 15px;
  padding: 11px 24px;
  border: 2px solid hsla(0, 0%, 100%, 0.54);
  border-radius: 2px;
  -webkit-transition: border-color 200ms ease, color 500ms ease;
  transition: border-color 200ms ease, color 500ms ease;
  font-family: 'Roboto Condensed', sans-serif;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.outline-button:hover {
  border-color: #fff;
  color: #fff;
}

.outline-button:active {
  border-color: hsla(0, 0%, 100%, 0.78);
  background-color: rgba(0, 0, 0, 0.2);
  color: hsla(0, 0%, 100%, 0.78);
}

.slide {
  background-color: #6e4040;
}

.press-title {
  font-family: 'Roboto Slab', sans-serif;
  color: #696969;
  text-transform: uppercase;
}

.press-image-wrapper {
  width: 16.66%;
  float: left;
  text-align: center;
}

.press-image-wrapper.title {
  padding-top: 21px;
}

.press-logo {
  opacity: 0.35;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.press-logo:hover {
  opacity: 0.48;
}

.footer-link {
  display: inline-block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #909499;
  text-decoration: none;
}

.footer-link:hover {
  color: #d9d9d9;
}

.field-left {
  width: 73%;
  margin-bottom: 10px;
  float: left;
  border-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #5f6266;
  color: #d7d9de;
}

.field-left:focus {
  background-color: #525559;
  box-shadow: 0 0 6px 0 transparent;
}

.success-message {
  background-color: #5f6266;
}

.success-message.big {
  padding: 41px;
}

.no-spam {
  margin-top: 10px;
  clear: both;
  color: #5f6266;
  font-size: 11px;
}

.social-link {
  margin-right: 11px;
  opacity: 0.29;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 0.74;
}

.sign-up-column {
  padding-top: 9px;
  text-align: center;
}

.sign-up-title {
  margin-bottom: 7px;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.small-heading {
  margin-bottom: 6px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #1d1f21;
  font-weight: 600;
}

.image-column {
  text-align: center;
}

.image-crop {
  overflow: hidden;
  height: 431px;
  margin-bottom: -80px;
}

.image-crop.ipad {
  height: 425px;
}

.image-crop.iphone {
  height: 429px;
}

.image-crop.hero {
  position: relative;
  display: block;
  width: 492px;
  height: 130px;
  margin: 78px auto -135px;
  -webkit-transition: height 500ms ease;
  transition: height 500ms ease;
}

.image-crop.hero:hover {
  height: 200px;
}

.feature-icon-wrapper {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  padding-top: 13px;
  float: left;
  border: 2px solid #5f6266;
  text-align: center;
}

.feature-list {
  margin-top: 24px;
}

.feature-list.no-padding {
  margin-top: 0px;
}

.feature-item {
  margin-top: 12px;
}

.feature-icon {
  opacity: 0.81;
}

.feature-text {
  margin-top: 6px;
  color: #8f9196;
  font-size: 12px;
  line-height: 15px;
}

.feature-text.title {
  margin-top: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #d7d9de;
  font-size: 16px;
  font-weight: 400;
}

.pricing-column {
  background-color: #2c2f30;
}

.pricing-row {
  margin-top: 28px;
  margin-bottom: 19px;
}

.plan-title {
  padding: 19px 15px;
  border-bottom: 3px solid rgba(218, 224, 232, 0);
  font-size: 21px;
  text-align: center;
}

.plan-title.pro {
  border-bottom-color: transparent;
  background-color: rgba(215, 217, 222, 0.09);
}

.price {
  margin-top: 36px;
  margin-bottom: 13px;
  font-family: Roboto, sans-serif;
  font-size: 52px;
  line-height: 41px;
  font-weight: 300;
  text-align: center;
}

.per-month {
  margin-bottom: 25px;
  color: #6f7378;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.price-feature {
  padding: 10px 19px;
  font-size: 16px;
  text-align: center;
}

.price-feature.deactivate {
  color: rgba(215, 217, 222, 0.7);
  text-decoration: line-through;
}

.get-started-link {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 18px;
  -webkit-transition: color 200ms ease, border-color 500ms ease;
  transition: color 200ms ease, border-color 500ms ease;
  color: #0bd685;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.get-started-link:hover {
  color: #fff;
}

.get-started-link.pricing {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.get-started-link.in-hero {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.get-started-link.in-hero:hover {
  color: #000;
}

.get-started-link.simple {
  margin-top: 18px;
  margin-bottom: 18px;
  border-bottom: 3px solid rgba(215, 217, 222, 0.2);
  color: #d7d9de;
}

.get-started-link.simple:hover {
  border-bottom-color: rgba(215, 217, 222, 0.56);
  color: #e8eaed;
}

.support {
  text-align: right;
}

.no-pad-section {
  background-color: #1d1f21;
}

.padded-column {
  padding: 66px 32px;
}

.padded-column.picture {
  height: 366px;
  background-image: url('../images/bag-and-hands-bw.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.width-limiter {
  max-width: 500px;
}

.question {
  margin-top: 52px;
  margin-bottom: 8px;
  color: #f2f4f7;
  font-size: 19px;
  font-weight: 400;
}

.question.help {
  margin-top: 0px;
  margin-bottom: 0px;
}

.need-help-row {
  margin-top: 41px;
  padding: 29px;
  background-color: rgba(95, 98, 102, 0.54);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.contact-text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-transform: none;
}

.more-questions {
  margin-right: 22px;
  float: left;
}

.service-block {
  padding: 12px;
  background-color: #2c2f30;
}

.number {
  text-align: center;
}

.service-title {
  text-align: center;
}

.field {
  height: 52px;
  margin-bottom: 21px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #5f6266;
  box-shadow: inset 0 0 0 0 transparent;
  -webkit-transition: background-color 250ms ease, box-shadow 250ms ease;
  transition: background-color 250ms ease, box-shadow 250ms ease;
  color: #fff;
  font-size: 16px;
}

.field:hover {
  background-color: #515357;
}

.field:focus {
  border-color: #0f8ad1;
  box-shadow: inset 0 0 0 2px #0f8ad1;
}

.field.left {
  width: 49%;
  margin-right: 2%;
  float: left;
}

.field.right {
  width: 49%;
  float: left;
}

.testimonial-wrapper {
  border-radius: 3px;
}

.testimonials-title {
  margin-bottom: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(165, 167, 173, 0.54);
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
}

.testimonial {
  margin-top: 25px;
  margin-bottom: 7px;
  font-family: 'Roboto Slab', sans-serif;
  color: #a0a2a8;
  font-size: 17px;
}

.testimonials-author {
  padding-left: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #85878c;
  font-size: 16px;
}

.testimonials-column {
  padding-left: 0px;
}

.testimonials-block {
  margin-left: 16px;
  padding-left: 17px;
  border-left: 1px solid #5f6266;
}

.sign-up-form {
  padding-right: 23px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.22);
}

.tab-list {
  height: 40px;
  margin-right: 10px;
  padding-top: 10px;
  border-style: solid solid solid none;
  border-width: 2px;
  border-color: #000 #000 #1d1f21 #5f6266;
  border-radius: 10px 10px 0px 0px;
  background-color: #b10508;
  box-shadow: 1px 1px 3px 0 #a5a7ad;
  font-family: 'Crimson Text', sans-serif;
  color: #d7d9de;
  font-weight: 600;
}

.tab-list.w--current {
  border-style: none;
  border-top-width: 2px;
  border-top-color: #1d1f21;
  border-right-color: #1d1f21;
  background-color: #fcfcfc;
  box-shadow: inset -2px 2px 3px 0 #7c0c0e;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border-right: 1px none #d7d9de;
  opacity: 1;
}

.body {
  padding-top: 0px;
  background-color: transparent;
}

.image {
  border: 4px none transparent;
  box-shadow: inset 1px 1px 3px -1px #5f6266;
}

.div-block {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #d7d9de;
}

.div-block.tab-body {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  border-right: 2px none #5f6266;
  border-bottom: 2px none #5f6266;
  background-color: #fcfcfc;
  color: #fcfcfc;
}

.tab-body {
  background-color: #d7d9de;
}

.div-block-2 {
  background-color: #d7d9de;
}

.div-block-3 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #d7d9de;
}

.div-block-4 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  border-radius: 0px 12px 0px 0px;
  background-color: #fcfcfc;
  box-shadow: 1px 1px 6px 7px #2c2f30;
}

.div-block-4.tab-body {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}

.text-block {
  background-color: transparent;
  font-family: 'Crimson Text', sans-serif;
  color: #d7d9de;
  font-size: 18px;
  font-weight: 600;
}

.text-block-2 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-block-3 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-block-4 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-block-5 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.text-block-6 {
  font-size: 18px;
}

.div-block-5 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.div-block-6 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.div-block-7 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.column {
  background-color: #fcfcfc;
}

.column-2 {
  background-color: transparent;
}

.image-2 {
  padding-top: 20px;
}

.columns {
  background-color: #fcfcfc;
}

.column-3 {
  border-left: 2px solid #000;
}

.image-3 {
  margin-top: 13px;
  margin-left: -83px;
}

.image-4 {
  margin-top: 25px;
}

.image-5 {
  margin-top: 20px;
}

.heading {
  padding-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 32px;
  font-weight: 600;
}

.rich-text-block {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.text-block-7 {
  position: static;
  padding-right: 10px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.list-item {
  color: #1d1f21;
}

.list-item-2 {
  margin-left: 140px;
  padding-left: 0px;
}

.list {
  padding-left: 140px;
}

.list-2 {
  margin-right: 140px;
  padding-left: 140px;
}

.list-item-3 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.list-item-4 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.list-item-5 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.heading-2 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 32px;
}

.paragraph {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.list-3 {
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 0px;
}

.list-item-6 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.list-item-7 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.list-item-8 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 700;
}

.div-block-8 {
  margin-top: 60px;
  margin-left: 220px;
}

.button-2 {
  background-color: #ca1215;
}

.button-3 {
  margin-top: 40px;
}

.text-block-8 {
  font-size: 18px;
}

.text-block-9 {
  font-size: 18px;
}

.tabs {
  margin-right: -38px;
  margin-left: -38px;
  color: transparent;
}

.columns-2 {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  margin-left: 0px;
  background-color: #fcfcfc;
}

.columns-3 {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
  background-color: #fcfcfc;
}

.div-block-9 {
  font-family: 'Crimson Text', sans-serif;
  color: #0f8ad1;
}

.list-item-9 {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  background-color: #d7d9de;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

.list-item-10 {
  margin-top: 10px;
  border-bottom: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.list-4 {
  margin: 24px 40px 0px;
  border: 1px none #5f6266;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px #2c2f30;
}

.list-item-11 {
  margin-top: 4px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.list-item-12 {
  margin-top: 4px;
  border-bottom: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}

.columns-4 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.text-block-10 {
  font-size: 18px;
}

.heading-3 {
  margin-top: 20px;
  margin-left: -102px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 28px;
  font-weight: 700;
}

.text-span {
  margin-left: -200px;
  padding-left: 0px;
  text-decoration: underline;
}

.column-4 {
  padding-left: 0px;
}

.rich-text-block-2 {
  color: #1d1f21;
}

.rich-text-block-3 {
  color: #1d1f21;
}

.image-6 {
  margin-top: -22px;
  margin-left: -165px;
}

.slider {
  margin-top: 40px;
  margin-left: 83px;
}

.slide-2 {
  margin-left: 0px;
  background-color: #fcfcfc;
}

.slide-3 {
  background-color: #fcfcfc;
}

.slide-4 {
  background-color: #fcfcfc;
}

.slide-nav {
  background-color: #0f8ad1;
}

.icon {
  background-color: #0f8ad1;
}

.icon-2 {
  margin-left: -6px;
  background-color: #0f8ad1;
}

.text-block-11 {
  font-family: 'Crimson Text', sans-serif;
  color: #fcfcfc;
  font-size: 18px;
}

.text-block-12 {
  font-size: 18px;
}

.columns-5 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: transparent;
}

.list-item-13 {
  position: relative;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  padding-top: 11px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #0f8ad1;
  font-family: 'Crimson Text', sans-serif;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 600;
}

.my-list {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #000;
  box-shadow: 1px 1px 3px 0 #000;
}

.image-7 {
  margin-top: 40px;
  border: 1px solid #000;
  box-shadow: 6px 6px 17px 0 #000;
}

.list-item-14 {
  background-color: #d7d9de;
  color: #0f8ad1;
}

.heading-4 {
  background-color: hsla(0, 0%, 99%, 0.3);
  font-family: 'Crimson Text', sans-serif;
  color: rgba(29, 31, 33, 0.81);
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.text-block-13 {
  color: #1d1f21;
}

.text-block-14 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  background-color: #fcfcfc;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.div-block-10 {
  margin-top: 0px;
  margin-left: 0px;
}

.tab-pane-tab-7 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.columns-6 {
  margin-top: 0px;
}

.columns-7 {
  margin-top: 0px;
  text-align: center;
}

.column-5 {
  padding-top: 10px;
}

.heading-5 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 20px;
  line-height: 20px;
  font-style: italic;
  font-weight: 700;
  text-align: left;
}

.text-block-15 {
  color: #1d1f21;
  text-align: left;
}

.heading-6 {
  margin-top: 20px;
  font-weight: 700;
  text-align: left;
}

.list-5 {
  margin-right: 40px;
}

.list-5.shu-list {
  padding-left: 40px;
}

.list-item-15 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.button-4 {
  margin-top: 40px;
  margin-right: -200px;
  background-color: #1d1f21;
  box-shadow: 1px 1px 3px 1px #5f6266;
}

.tab-pane-tab-6 {
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  background-color: #fcfcfc;
}

.heading-7 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.div-block-11 {
  margin-right: 40px;
  margin-left: 40px;
}

.image-8 {
  margin-top: 32px;
  margin-left: -35px;
}

.image-9 {
  margin-top: 2px;
  margin-left: -44px;
  background-color: #fcfcfc;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.div-block-12 {
  margin-right: 40px;
  margin-left: 220px;
}

.image-10 {
  margin-top: -16px;
}

.heading-8 {
  margin-top: 20px;
  font-weight: 700;
  text-align: left;
}

.div-block-13 {
  margin-right: 40px;
  margin-left: 40px;
}

.heading-9 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  text-align: left;
}

.div-block-14 {
  margin-right: 40px;
  margin-left: 40px;
}

.heading-10 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  text-align: left;
}

.div-block-15 {
  margin-right: 40px;
  margin-left: 40px;
}

.shu-list {
  padding-left: 0px;
}

.list-6 {
  padding-left: 0px;
}

.list-7 {
  padding-left: 0px;
}

.list-8 {
  padding-left: 0px;
}

.list-item-16 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
}

.list-item-17 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.list-item-18 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.list-item-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}

.button-5 {
  margin-top: 60px;
  margin-left: 140px;
  background-color: #1d1f21;
  box-shadow: 1px 1px 3px 2px #d7d9de;
}

.button-6 {
  margin-top: 100px;
  margin-left: 40px;
  background-color: #1d1f21;
}

.image-11 {
  margin-top: 60px;
}

.div-block-16 {
  margin-top: 60px;
  margin-left: 220px;
}

.div-block-17 {
  margin-top: 86px;
}

.text-block-16 {
  margin-top: 0px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.column-7 {
  margin-top: 40px;
}

.columns-8 {
  margin-left: 0px;
  padding-left: 40px;
  border-top: 1px dotted #000;
}

.text-block-17 {
  margin-top: 10px;
  border-bottom: 1px none #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
}

.div-block-18 {
  border-bottom: 1px none #000;
}

.html-embed {
  margin-top: 20px;
  border: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.html-embed-2 {
  margin-top: 20px;
  border: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.tabs-content {
  background-color: #fcfcfc;
  color: transparent;
}

.form-block {
  margin-top: 20px;
  border: 1px none #000;
  border-radius: 6px;
}

.field-label {
  color: #1d1f21;
  text-align: left;
}

.field-label-2 {
  color: #1d1f21;
  text-align: left;
}

.submit-button {
  margin-top: 40px;
}

.form-2 {
  margin-top: 0px;
}

.heading-11 {
  margin-top: 24px;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.list-item-20 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.list-item-21 {
  margin-top: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.list-9 {
  margin-top: 20px;
}

.text-block-18 {
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.div-block-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 16px;
  font-weight: 600;
}

.div-block-19.shu-test {
  color: #c5090c;
  font-size: 18px;
}

.shu-test {
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.text-block-19 {
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.text-block-20 {
  border-right: 1px none #000;
  background-color: #fcfcfc;
  font-family: 'Crimson Text', sans-serif;
  color: #c5090c;
  font-size: 18px;
  font-weight: 600;
}

.text-block-21 {
  border-right: 1px dotted #000;
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.text-block-22 {
  font-family: 'Crimson Text', sans-serif;
  color: #1d1f21;
  font-size: 18px;
  font-weight: 600;
}

.heading-12 {
  margin-left: 0px;
  padding-left: 0px;
  background-color: #1d1f21;
  font-family: 'Crimson Text', sans-serif;
  color: #fcfcfc;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.columns-9 {
  margin-bottom: -16px;
}

.column-8 {
  border-right: 1px dotted #000;
}

.column-9 {
  border-right: 1px dotted #000;
}

.column-10 {
  border-right: 1px dotted #000;
}

.column-11 {
  border-style: none dotted none none;
  border-width: 1px;
  border-color: #000;
}

.bold-text {
  color: #c5090c;
}

.bold-text-2 {
  color: #c5090c;
}

.div-block-20 {
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.columns-10 {
  margin-top: 20px;
}

@media screen and (max-width: 991px) {
  .button {
    background-color: #0bd685;
  }
  .nav-link {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    float: none;
    box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.2);
  }
  .nav-link:hover {
    background-color: #5f6266;
  }
  .nav-link.w--current {
    background-color: #005282;
  }
  .nav-link.right {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    border-style: none;
  }
  .nav-menu {
    width: 100%;
    background-color: #000;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.28);
  }
  .menu-button {
    color: #fff;
  }
  .menu-button:hover {
    background-color: #000;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .section.hero {
    padding-top: 78px;
    padding-bottom: 104px;
  }
  .huge-heading {
    margin-bottom: 12px;
    font-size: 71px;
    line-height: 66px;
  }
  .subtitle {
    font-size: 19px;
    line-height: 25px;
  }
  .press-image-wrapper {
    padding-right: 8px;
    padding-left: 8px;
  }
  .press-image-wrapper.title {
    padding-top: 12px;
  }
  .small-heading {
    font-size: 34px;
  }
  .image-crop {
    height: 451px;
    margin-bottom: -80px;
  }
  .image-crop.ipad {
    height: 449px;
    margin-bottom: -80px;
  }
  .image-crop.iphone {
    height: 489px;
    margin-bottom: -80px;
  }
  .image-crop.hero {
    height: 250px;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .image-crop.hero:hover {
    height: 250px;
  }
  .price-feature {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .get-started-link.pricing {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .padded-column.picture {
    height: 436px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .navbar {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section {
    padding: 40px 20px;
  }
  .section.hero {
    padding-top: 74px;
    padding-bottom: 74px;
  }
  .section.press {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
  }
  .section.sign-up {
    text-align: center;
  }
  .section.about-image {
    height: 280px;
  }
  .huge-heading {
    font-size: 50px;
    line-height: 48px;
  }
  .subtitle.pricing {
    margin-bottom: 16px;
  }
  .press-title {
    display: block;
  }
  .press-image-wrapper {
    width: 33%;
  }
  .press-image-wrapper.title {
    width: 100%;
    padding-top: 5px;
  }
  .small-heading {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
  }
  .image-crop {
    margin-bottom: 36px;
    border-bottom: 3px solid #5f6266;
    text-align: center;
  }
  .image-crop.ipad {
    margin-bottom: 36px;
  }
  .image-crop.iphone {
    height: 389px;
    margin-bottom: -40px;
    border-bottom-style: none;
  }
  .image-crop.hero {
    width: auto;
  }
  .feature-list {
    margin-bottom: 20px;
  }
  .pricing-column {
    margin-right: 33px;
    margin-left: 33px;
  }
  .pricing-row {
    margin-top: 9px;
  }
  .get-started-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .get-started-link.simple {
    display: inline-block;
  }
  .support {
    text-align: center;
  }
  .all-devices-image {
    width: 50%;
  }
  .padded-column {
    padding: 41px 30px;
  }
  .padded-column.picture {
    height: 246px;
  }
  .question {
    margin-top: 32px;
  }
  .contact-text {
    clear: left;
  }
  .service-block {
    margin-bottom: 19px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .field.left {
    width: 49%;
    margin-right: 3%;
  }
  .field.right {
    width: 48%;
  }
  .testimonials-column {
    padding: 16px 22px 22px;
    border: 2px solid rgba(95, 98, 102, 0.79);
  }
  .sign-up-form {
    padding-right: 0px;
    border-right-style: none;
  }
  .center {
    text-align: center;
  }
  .title {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-column {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: block;
    margin-bottom: 14px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section.hero {
    padding: 54px 20px;
  }
  .subtitle {
    margin-bottom: 29px;
  }
  .outline-button {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .press-image-wrapper {
    width: 100%;
    height: 47px;
  }
  .small-heading {
    font-size: 21px;
    line-height: 26px;
  }
  .image-crop {
    height: 270px;
  }
  .image-crop.iphone {
    height: 325px;
  }
  .pricing-column {
    margin-right: 0px;
    margin-left: 0px;
  }
  .all-devices-image {
    width: 70%;
  }
  .padded-column {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padded-column.picture {
    height: 226px;
  }
  .field.left {
    width: 100%;
    margin-right: 0%;
  }
  .field.right {
    width: 100%;
  }
  .ipad-image {
    padding-right: 14px;
    padding-left: 14px;
  }
  .iphone-image {
    padding-right: 25px;
    padding-left: 25px;
  }
}

